body{
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.purple-wrapper{
     width: 100%;
     background-color: rgb(87, 42, 87);
     color: #fff;
}
.master2{
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
}
.header-text{
      
      width: 50%;
      float: left;
      margin-top: 80px;
      margin-left: 50px;
     
}
.header-text h1{
    line-height: 45px;
    border-right: 1px solid gray;
    
    
}
.header-text2{
    float: right;
    width: 40%;
    margin-top: 90px;
    
   
    
}
.header-text2 p{

    line-height: 25px;
    font-size: 15px;
    opacity: 0.5;
    font-weight: bold;
   
  
}
.header-text2 button{
    width: 140px;
    height: 35px;
    color: #fff;
    background-color: rgb(51, 161, 99);
    border: 0;
    padding:10px;
    border-radius: 30px;
    font-family: Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
    font-weight:700;

}


.middle-part{
    max-width: 1000px;
    margin: 0 auto;
    padding:70px;
}
.middle-part .left{
    width: 50%;
    float: left;
    margin-left: 50px;
    border-right: 2px solid gray;
    
}
.left h1{
    font-size: 20px;
    color: rgb(24, 10, 10);
    opacity: 0.8;
}
.left p{
    font-size: 12px;
    line-height: 25px;
    margin-top: 30px;
    padding-right:50px;
}
.left button{
    width: 140px;
    height: 35px;
    background:0;
    border: 1px solid black;
    padding:10px;
    border-radius: 30px;
    font-family: Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
    font-weight:700;
    margin-top: 20px;
}
.middle-part .right{
    width: 40%;
    float: right;
}
.right p{
    font-size: 12px;
    line-height: 30px;
   
}
.fa{
    color:rgb(51, 161, 99) ;
    padding-right: 10px;
}


.last-section{
    width: 100%;
    background-color:rgb(243, 243, 234);
    border-top: 3px solid gray;
    
}
.master{
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
}
.box1{
    
    width: 80%;
    background-color: #fff;
    margin-bottom: 30px;
    border-bottom: 2px solid gray;
    margin-left: 50px;
    padding-right: 20px;
   
    
}
.box1 img{
   width: 40%;
   float: left;
   margin-right: 30px;
}
.box1 h1{
    padding-top: 80px;
    font-size: 17px;

}
.box1 p{

    font-size: 13px;
    line-height: 28px;
    opacity: 0.7;
    
}
.box1 button{
    width: 100px;
    height: 35px;
    background:0;
    border: 1px solid gray;
    padding:10px;
    border-radius: 30px;
    font-family: Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
    font-weight:700;
    margin-top: 20px;
    
}

.big{
    width: 200px;
    height: 35px;
    background:0;
    border: 1px solid gray;
    padding:10px;
    border-radius: 30px;
    font-family: Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
    font-weight:700;
    margin-top: 20px;
    margin-left:40%;
    margin-bottom: 50px;
}

.whitepart{
   margin: 0 auto;
   max-width: 1000px;
   padding:50px;
  
}
.whitepart .left{
    width: 50%;
    float: left;
    margin-left: 50px;
    border-right: 2px solid gray;
   
}


.name{
  
    float: left;
    margin-right: 30px;
}
.Message{

    width: 90%;
    height: 150px;
    padding: 8px;
    background: transparent;
    border: 1px solid gray;
    opacity: 0.5;
    

}
.innerchange{
    width: 100%;
    height: 35px;
    padding: 8px;
    background: transparent;
    border: 1px solid gray;
    margin-bottom: 30px;
    opacity: 0.5;
   
}

.whitepart .right p{
   
    display: inline;
    margin-left: 10px;
    line-height: 40px;
   
    
}
.whitepart .right .fa{

   margin-left: 50px;

}

.final{
    width: 100%;
    height: 100px;
    background-color:rgb(243, 243, 234);
    border-top: 3px solid gray;
}
.final .last-text{
    max-width: 1000px;
    margin: 0 auto;
}
.last-text p{
    font-size: 12px;
    text-align: center;
    margin-top: 50px;
    opacity: 0.5;
    
}


@media only screen and (max-width:800px){


    .header-text{
      
        width: 100%;
        border-bottom: 1px solid gray;
        margin-left: 0;
       
      }

      .header-text h1{
       
        border-right: none;
        }

      .header-text2{
        
        width: 100%;
        margin-top: 0;
    }

    .middle-part .left{
        width: 100%;
        margin-left: 0;
        border-right: none;
        border-bottom: 1px solid gray;
        
      
        
    }

    .left button{
       margin-bottom: 20px;
    }

    .middle-part .right{
        width: 100%;
       
    }

   

    .box1{
    
        width: 100%;
        margin-left: 0;
        padding-right: 0;
       
        
    }
    .box1 img{
       width: 100%;
     
       margin-right: 0px;
    }

    .box1 h1{
      position: relative;
      top: 10;
    }
    .box1 p{
    
      position: relative;
      top: 10;
        
    }
    .box1 button{
      
        margin-bottom: 20px;
        
    }
    
    .big{
      
        margin-left:0;
        
    }
    
    .whitepart .left{
        width: 100%;
        margin-left: 0px;
        border-right:none;
       
    }
    

    .whitepart .right p{
   
      
        margin-left: 0;
        line-height: 40px;
       
        
    }
    .whitepart .right .fa{
    
       margin-left: 5px;
    
    }


















}


@media only screen and (max-width:600px){


    .header-text{
      
        width: 100%;
        border-bottom: 1px solid gray;
        margin-left: 0;
       
      }

      .header-text h1{
       
        border-right: none;
        }

      .header-text2{
        
        width: 100%;
        margin-top: 0;
    }

    .middle-part .left{
        width: 100%;
        margin-left: 0;
        border-right: none;
        border-bottom: 1px solid gray;
        
      
        
    }

    .left h1{
        font-size: 15px;
      
    }
    .left p{
      
        padding-right:0px;
        text-align: justify;
        
    }

    .left button{
       margin-bottom: 20px;
    }

    .middle-part .right{
        width: 100%;
       
    }
    .right p{
        font-size: 11px;
        
       
    }
    .fa{
       
        padding-right: 10px;
    }

    .box1{
    
        width: 100%;
        margin-left: 0;
        padding-right: 0;
       
        
    }
    .box1 img{
       width: 100%;
     
       margin-right: 0px;
    }

    .box1 h1{
      position: relative;
      top: 10;
    }
    .box1 p{
    
      position: relative;
      top: 10;
        
    }
    .box1 button{
      
        margin-bottom: 20px;
        
    }
    
    .big{
      
        margin-left:0;
        
    }
    
    .whitepart .left{
        width: 100%;
        margin-left: 0px;
        border-right:none;
       
    }
    

    .whitepart .right p{
   
      
        margin-left: 0;
        line-height: 40px;
       
        
    }
    .whitepart .right .fa{
    
       margin-left: 5px;
    
    }





























}